hr {
  
    border-style: none;
    width: 5%;
    border-width: 5px;
    border-top-style: dotted;
    border-color: gray;  
  }

  .red{
      background-color: red;
  }
  .green{
      background-color: green;
  }