body{
    background-color:bisque;
    margin: 0%;
    text-align: center;
}
h1{
    margin: 0%;
    font-family: 'Indie Flower', cursive;
    font-size: 4rem;
}
p {
    font-size: 1.2rem;
    font-weight: normal;
}

h2{
    font-size: 2rem;
}
span{
    text-decoration: underline;
}

.skill-row{
    width: 50%;
    margin: 50px auto;
    text-align: left;
}
.top-cloud{
 position: absolute;
 top: 20px;
 right: 500px;
}

.bottom-cloud{
    position: absolute;

}

.cave{
    position: relative;
    
}
.top-container{
    background-color:aqua ;   
    padding-top: 150px; 
    position: relative;
}

.prfile-images{
  width: 18%;
  margin-right: 10px;
  float: left;
}
.middle-container{
   padding-top: 10px;
}

.bottom-container{
   
}